@import "misc/index";
@import "layout/index";
@import "pages/index";

body {
  color: $black;
  font-family: $font-primary;
}

section {
  position: relative;
  width: 64%;
  padding-top: 7em;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .2s;
}

// When you're on the link
[aria-current] {
  color: $black;
  &:after {
    width: 100%;
  }
}
