#fonts {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  border-radius: 10px;
  padding: 3em 2em;
  .font {
    width: 48%;
    img {
      width: 100%;
    }
  }
  @media #{$bigTablet} {
    flex-wrap: wrap;
    .font {
      width: 100%;
      margin-bottom: 2em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @media #{$classicTablet} {
    display: none;
  }
}
