#project {
  @import "title";
  @import "mockups";
  @import "colors";
  @import "more";
  @import "screenshots";
  @import "fonts";
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 180px;
      @media #{$classicTablet} {
        display: none;
      }
    }
  }
  .background {
    padding: 5em;
    border-radius: 10px;
    margin-bottom: 3em;
    @media #{$bigPhone} {
      padding: 2em;
    }
  }
}
