#more {
  background-color: $white;
  border-radius: 10px;
  padding: 3em 2em;
  margin-bottom: 4em;
  p {
    margin-bottom: 1.75em;
    line-height: 1.25;
    letter-spacing: 1.08px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  @media #{$mediumPhone} {
    padding: 0;
  }
}
