#title {
  margin-bottom: 2.5em;
  width: 70%;
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5em;
    font-size: 1.75em;
    display: inline-block;
    letter-spacing: 3px;
  }
  .website {
    margin-left: 1.5em;
    color: rgba($black, .7);
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      position: relative;
      display: block;
      height: 2px;
      width: 0;
      background-color: rgba($black, .7);
      margin-top: 2px;
      transition: width .2s;
    }
    &:hover {
      color: $black;
      &:after {
        width: 100%;
      }
    }
  }
  p {
    margin-bottom: 1em;
    line-height: 1.25em;
    letter-spacing: 1px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .team {
    a {
      font-weight: 700;
    }
  }
  @media #{$classicTablet} {
    width: 100%;
  }
}
