#title {
  margin-bottom: 2.5em;
  h1 {
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 1.75em;
  }
  p {
    margin-bottom: 1em;
    line-height: 1.25em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
