<div id="fonts">
  <div class="font">
    <span class="name">HK Concentraite REGULARD</span>
    <span class="letters">abcdefghijkmlnopqrstuvwxyz</span>
    <span class="numbers">0123456789</span>
  </div>
  <div class="font">
    <span class="name">HK Concentraite REGULARD</span>
    <span class="letters">abcdefghijkmlnopqrstuvwxyz</span>
    <span class="numbers">0123456789</span>
  </div>
</div>
