<div id="mockups" <%= "class='single-computer'" unless File.exist?('source/images/' + project.slug + '/phone.png') %>>
  <%= project_image(project, 'cover.png', {class: 'computer'}) %>
  <% if File.exist?('source/images/' + project.slug + '/phone.png') %>
    <%= project_image(project, 'phone.png', {class: 'phone'}) %>
  <% end %>
</div>
