---
slug: homepage
---

<div id="hello">
  <h1>Hey, I’m Joshua. </h1>
  <p>I’m a digital creative student. I work on design UI/UX,<br> visuel identity ,motion design and photography. </p>
</div>

<!-- <% data.projects.each do |project| %>
  <% link_to proxy_url(project.slug) do %>
    <%= project_image(project, 'main.jpg', {
      'alt' => 'cover image',
      'class' => 'cover'
      }) %>
    <br>
    <%= project.name %>
  <% end %>
<% end %> -->
