@font-face {
    font-family: 'HKNova';
    src: font-url('HKNova/HKNova-MediumNarrow.eot');
    src: font-url('HKNova/HKNova-MediumNarrow.eot?#iefix') format('embedded-opentype'),
         font-url('HKNova/HKNova-MediumNarrow.woff2') format('woff2'),
         font-url('HKNova/HKNova-MediumNarrow.woff') format('woff'),
         font-url('HKNova/HKNova-MediumNarrow.ttf') format('ttf'),
         font-url('HKNova/HKNova-MediumNarrow.otf') format('otf');
    font-weight: normal;
}
