$redColor: rgba(244,67,54,.8);
$blueColor:rgba(33,150,243,.8);

@keyframes socials {
  0% {
    filter: drop-shadow(3px 2px $redColor) drop-shadow(-2px -3px $blueColor);
  }
  25% {
    filter: drop-shadow(-2px -3px $redColor) drop-shadow(2px 1px $blueColor);
  }
  50% {
    filter: drop-shadow(2px -1px $redColor) drop-shadow(-5px 1px $blueColor);
  }
  75% {
    filter: drop-shadow(-5px -1px $redColor) drop-shadow(-2px -1px $blueColor);
  }
  100% {
    filter: drop-shadow(-2px 0 $redColor) drop-shadow(2px -1px $blueColor);
  }
}
