#homepage {
  padding-top: 6em;
  position: inherit;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 80vh;
  #hello {
    line-height: 1.813em;
    font-weight: 500;
    letter-spacing: 2.67px;
  }
  #projects {
    display: flex;
    margin-top: 3em;
    align-items: center;
    @media #{$bigTablet} {
      justify-content: flex-start;
    }
    @media screen and (min-width : 1600px) {
      justify-content: space-around;
    }
  }
  #cards {
    position: relative;
    width: 30vw;
    max-width: 450px;
    height: 30vw;
    max-height: 450px;
    div {
      height: 100%;
      width: 100%;
      background-color: $green;
      border-radius: 10px;
    }
    .background-card,
    .sub-card {
      position: absolute;
      transition: all .2s;
    }
    .background-card {
      transform: translateY(-20px) scale(.95);
      opacity: .5;
    }
    .sub-card {
      transform: translateY(-10px) scale(.975);
      opacity: .7;
    }
    .portrait {
      height: 80%;
      position: absolute;
      bottom: 0;
      background-size: cover;
      background-image: image-url('portrait.png');
      opacity: .5;
    }
    &.animate {
      .portrait {
        display: none;
      }
    }
    &:hover,
    &.animate {
      .sub-card {
        transform: translateY(-20px) scale(.975);
      }
      .background-card {
        transform: translateY(-35px) scale(.95);
      }
    }
    @media #{$bigTablet} {
      display: none;
    }
    @media screen and (min-width : 2500px) {
      max-height: 60vh;
      max-width: 60vh;
    }
  }
  #card {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      height: 75%;
      object-fit: contain;
      display: none;
      &.visible {
        display: block;
      }
    }
  }
  #nav {
    margin-left: 3em;
    li {
      margin-bottom: 2em;
      min-width: 360px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    li a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      .number {
        margin-right: 1em;
        font-size: 1.5em;
      }
      h2 {
        position: relative;
        color: #878787;
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: .3em;
        transition: color .2s;
        letter-spacing: 4px;
        .shift {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(2px, -2px);
          z-index: -1;
          opacity: 0;
          transition: color .2s;
          font-weight: bold;
          letter-spacing: 4px;
        }
      }
      .role {
        color: #cfcfcf;
        text-transform: uppercase;
        transition: color .2s;
        letter-spacing: 3px;
      }
      &:hover {
        h2 {
          color: #000;
          font-weight: bold;
        }
        .role {
          color: #a0a0a0;
        }
        h2 .shift {
          opacity: .65;
        }
      }
    }
    @media #{$bigTablet} {
      margin-left: 0;
      margin-bottom: 2.5em;
      li {
        min-width: inherit;
      }
    }
  }
  @media #{$bigTablet} {
    display: inherit;
    height: auto;
  }
}
