<header>
  <nav>
    <ul>
      <li><%= current_link_to t('header.home'), 'homepage' %></li>
      <li><%= current_link_to t('header.about'), 'about' %></li>
    </ul>
  </nav>
  <div id="contact">
    <span class="name">Joshua Richard</span>
    <span class="email"><a href="mailto:hello@joshuarichard.fr">hello@joshuarichard.fr</a></span>
  </div>
  <div id="socials">
    <ul>
      <% data.pages.socials.each do |className, link| %>
        <li><a href="<%= link %>" class="<%= className %>"></a></li>
      <% end %>
    </ul>
  </div>
</header>
